.TitleBar {
  display: flex;
  background-color: #000000;
  opacity: 0.4;
  height: 2em;
  -webkit-app-region: drag;

  .left {
    margin-right: auto;
    margin-left: 0.5em;
    display: flex;
    column-gap: 0.25em;

    .repairButton {
      background-image: url("../../../assets/img/icon_repair.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      -webkit-app-region: no-drag;

      &:hover {
        background-color: rgba(255, 255, 255, 0.209);
      }
    }
  }

  .right {
    margin-left: auto;
    margin-right: 0.5em;
    display: flex;
    column-gap: 0.25em;

    .minimizeButton {
      background-image: url("../../../assets/img/icon_minimize.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      -webkit-app-region: no-drag;

      &:hover {
        background-color: rgba(255, 255, 255, 0.209);
      }
    }

    .closeButton {
      background-image: url("../../../assets/img/icon_close.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 2em;
      height: 2em;
      -webkit-app-region: no-drag;

      &:hover {
        background-color: rgba(255, 255, 255, 0.209);
      }
    }
  }
}
